/*
  Author : Vishwaksen
*/

body{
	font-family: Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	line-height: 1.5;
	font:15px/1.5;
	background-color:#cccccc;
}

/* Global Components */
.container{
	width:80%;
	margin:auto;
	overflow: hidden;
}

ul{
	margin:0;
	padding:0;
}

#main_table{
	cellspacing:0;
	height: 120px;
	background-color:#3b5998;
	padding-left: 30%;
	padding-top: 25px;
	text-align: left;
	width : 100%;
}

#myForm{
	font-family: Arial, Helvetica, sans-serif;
	width: 420px;
	align-items: center;
}

#doer_dropdown, #poster_dropdown{
	padding-left: 13%;
	color: #e8491d;
	background-color: #1E1E1E;
	width: 400px;
}

.registration_form{
	color: #ffffff;
	align-items: : center;
}

#myform_table form input[type="email"],#myform_table form input[type="text"], #myform_table form input[type="button"]{
 height:20px;
 width:400px;
 padding:4px;
 margin-bottom: 12px;
 }

 #poster_form #job_description{
	height:80px;
 	width:400px;
 	padding:4px;
 	margin-bottom: 14px;
   }

#type_of_preferred_work, #preferred_work{
 height:30px;
 width:410px;
 padding:4px;
 margin-bottom: 10px;
}

.submit_form_button{
	height:38px;
 	background:#e8491d;
 	border:0;
 	padding-left:5px;
 	padding-right:5px;
 	color:#000000;
 	width:200px;
 	border:#cccccc 3px solid;
}

.dark{
	padding:15px;
	background-color:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}

/* Header */
header{
	background:#35424a;
	background-color: #1E1E1E;
	color:#ffffff;
	padding-top:30px;
	min-height:80px;
	border-bottom:#e8491d 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}


header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/* Media Queries */
@media(max-width:768px){
	header #branding,
	header nav,
	header nav li,
	.footer #footer_send_message,
	aside #sidebar,
	#boxes .box{
		float:none;
		text-align:center;
		width:100%;
	}

	header{
		padding-bottom: :20px;
	}

	#showcase h1{
		margin-top:40px;
	}

	#send_mail button{
		display:block;
		width:100%;
	}
